header {
    background-color: rgb(255, 185, 185);
     ul{
       list-style-type: none;
        display: flex;
        li{
<<<<<<< HEAD
        color: rgb(40, 40, 40);
=======
            color: black;
>>>>>>> D1
         padding: 20px;
        }
        li:hover {
            transition: .5s;
            color: white;
<<<<<<< HEAD
            background-color: rgb(67, 67, 67);
=======
            background-color: rgb(210, 109, 109);
>>>>>>> D1
        }
        a {
            text-align: center;
        }
    }
    h1 {
        color: white;
        text-align: center;
    }
    h1 {
        color: white;
        margin-right: 10rem;
        text-align: right;
    }
}