aside{
    background-color: $font-color-light;
    padding: 10px;
    button {
        background-color: grey;
        color: white;
        padding: 10px;
        width: 80px;
        box-shadow: 2px 2px 8px grey;
    }
    input {
        padding: 10px;
    }
}